*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 1px dashed $gold-color;
    outline-offset: 2px;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
    @include respond(phone) {
        font-size: 50%;
    }
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #fff;
    background-color: $black-color;
}

.tel-number {
    @include titles(700);
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.08rem;
    border-bottom: 2px solid $gold-color;
}



